<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.relax">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- MainActivity -->
        <activity
            android:name=".MainActivity"
            android:label="@string/string_activity_main_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- AudioLibraryActivity -->
        <activity
            android:name=".AudioLibraryActivity"
            android:label="@string/string_activity_audio_library_name"></activity>

        <!-- SettingsActivity -->
        <activity
            android:name=".SettingsActivity"
            android:label="@string/string_activity_settings_name"></activity>

        <!-- SessionsActivity -->
        <activity
            android:name=".SessionsActivity"
            android:label="@string/string_activity_sessions_name"></activity>
        <activity android:name=".NewSessionActivity"></activity>
    </application>

</manifest>